# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor dirs
.idea/
.vscode/

# Local npm cache
.npm-cache/

# Output
dist/
client/dist/
server/dist/

